
/* MAIN STRUCTURE
__________________________*/

html {
  /* This is required in order to make the footer stick to the bottom..*/
  position: relative;
  min-height: 100%;
}

body {
  text-align: center;
  padding-top: 10px;
  margin-bottom: 100px;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none
}

.container {
  width: 99%;
}

footer {
  margin-top: 30px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* MAIN HEADER
___________________________*/

.page-title {
  margin: -65px auto;
  padding-left: 250px;
}

.subheading {
  margin-top: -5px;
  font-style: italic;
  font-weight: bold;
}

.logo {
  margin-top: -30px;
}

.explanation_alert{
  margin-bottom: 0;
}
/* TABLE
___________________________*/

.table td {
  vertical-align: middle !important;
  border-collapse: collapse;
  background-clip: padding-box;
  text-align: left;
}

.table th,
.table thead td {
  background-color: #E8E8E8;
  white-space: nowrap;
}

tr {
  height: 39px;
}

.expanded-child{
  display: block;
  text-align: center;
}

/* table sorter ___________*/

.tablesorter-default .header,
.tablesorter-default .tablesorter-header {
  background-image: url(data:image/gif;base64,R0lGODlhFQAJAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==);
  background-position: center right;
  background-repeat: no-repeat;
  cursor: pointer;
  padding: 4px 20px 4px 4px;
}
.tablesorter-default thead .headerSortUp,
.tablesorter-default thead .tablesorter-headerSortUp,
.tablesorter-default thead .tablesorter-headerAsc {
  background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7);
  border-bottom: #000 2px solid;
}
.tablesorter-default thead .headerSortDown,
.tablesorter-default thead .tablesorter-headerSortDown,
.tablesorter-default thead .tablesorter-headerDesc {
  background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7);
  border-bottom: #000 2px solid;
}
.tablesorter-default thead .sorter-false {
  background-image: none;
  cursor: default;
  padding: 4px;
}

/* table processing indicator */
.tablesorter-default .tablesorter-processing {
  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-image: url('data:image/gif;base64,R0lGODlhFAAUAKEAAO7u7lpaWgAAAAAAACH/C05FVFNDQVBFMi4wAwEAAAAh+QQBCgACACwAAAAAFAAUAAACQZRvoIDtu1wLQUAlqKTVxqwhXIiBnDg6Y4eyx4lKW5XK7wrLeK3vbq8J2W4T4e1nMhpWrZCTt3xKZ8kgsggdJmUFACH5BAEKAAIALAcAAAALAAcAAAIUVB6ii7jajgCAuUmtovxtXnmdUAAAIfkEAQoAAgAsDQACAAcACwAAAhRUIpmHy/3gUVQAQO9NetuugCFWAAAh+QQBCgACACwNAAcABwALAAACE5QVcZjKbVo6ck2AF95m5/6BSwEAIfkEAQoAAgAsBwANAAsABwAAAhOUH3kr6QaAcSrGWe1VQl+mMUIBACH5BAEKAAIALAIADQALAAcAAAIUlICmh7ncTAgqijkruDiv7n2YUAAAIfkEAQoAAgAsAAAHAAcACwAAAhQUIGmHyedehIoqFXLKfPOAaZdWAAAh+QQFCgACACwAAAIABwALAAACFJQFcJiXb15zLYRl7cla8OtlGGgUADs=') !important;
}



/* table icons ___________*/

.table tbody td.success,
.table tbody td.danger,
.table tbody td.warning {
  padding-left:30px !important;   /*padding required for the icon...*/
  position:relative;
}

.table tbody td.success:before,
.table tbody td.danger:before,
.table tbody td.warning:before {
  font-family: FontAwesome;
  position: absolute;
  margin-left:-25px;
  font-size: 1.5em;
  margin-top: -0.75em;
  top:50%;
}

.table tbody td.success:before {
  content: "\f058";
  color: #1AA882;
}

.table tbody td.danger:before {
  content: "\f057";
  color: #FC585A;
}

.table tbody td.warning:before{
  content: "\f06a";
  color: #FCB83F;
}

.table tbody td.success,
.table tbody td.danger {
  cursor: pointer !important;
}

.table tbody td.danger:hover {
  background-color: rgb(242, 203, 203) !important;
}

.table tbody td.success:hover{
  background-color: rgb(204, 228, 200) !important;
}

/* D3Js & Axis
___________________________*/
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  stroke: #000;
  opacity:0.7;
}

.line1 {
  fill: green;
  stroke: black;
  stroke-width: 1.5px;
  opacity:0.5;
}

svg:not(:root) {
  overflow: visible;
}

svg {
  margin-top:20px;
}

/* Ratings...
___________________________*/

.ratings {
  position: relative;
  vertical-align: middle;
  display: inline-block;
  color: #b1b1b1;
  overflow: hidden;
}

.full-stars{
  position: absolute;
  left: 0;
  top: 0;
  white-space: nowrap;
  overflow: hidden;
  color: #fde16d;
}

.empty-stars:before,
.full-stars:before {
  font-family: FontAwesome;
  content: "\f005\f005\f005\f005\f005";
  font-size: 14pt;
}

.empty-stars:before {
  -webkit-text-stroke: 1px #848484;
}

.full-stars:before {
  -webkit-text-stroke: 1px orange;
}

/* Tooltips
___________________________*/

.tooltip > .tooltip-inner {
  background-color: #fff;
  color: #000;
  border: 1px solid #CCCCCC;
  max-width:275px;
}

.tooltip.top > .tooltip-arrow {
    bottom:0;
    left:50%;
    margin-left:-5px;
    border-left:5px solid transparent;
    border-right:5px solid transparent;
    border-top:5px solid #CCC
}


/*
___________________________*/

.menu_icon {
  padding-left: 10px;
  font-weight: bold;
}

#toggle {
  text-align:center;
}

.tooltip-inner {
  white-space: pre-wrap;
  min-width: 100px;
}

#report {
  text-align: left;
}

.browser-alert {
  background-color: #f2dede;
border-color: #ebccd1;
color: #a94442;
}

.modal-header{
  border-bottom: 2px solid #903636;
}

/* Browser Specific
___________________________*/

/* Border on Stars ________*/
/* Webkit-text-stroke is not supported on firefox or IE */
/* Firefox */
@-moz-document url-prefix() {
  .full-stars{
    color: #ECBE24;
  }
}
/* IE */
<!--[if IE]>
  .full-stars{
    color: #ECBE24;
  }
<![endif]-->