*.swp
*.~*~
*.gem
.DS_Store
# Gemnasium gem configuration file
config/gemnasium.yml
doc
.yardoc
tmp
*.rbc
.bundle
.config
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
*.bundle
*.so
*.o
*.a
mkmf.log
*-linux-x86/
*-linux-x86_64/
*-osx/
*-linux-x86.tar.gz
*-linux-x86_64.tar.gz
*-osx.tar.gz
test/test_files/all_validations_prot/prot.fa.html/
test/test_files/GV_*
q/