</tbody></table>
</div>
<% if output_files.length > 1 %>
<nav><ul class="pagination">
<% output_files.each_with_index do |results_html, idx| %>
<li><a href="<%=results_html%>"><%= idx + 1 %></a></li>
<% end %></ul></nav><%end%>
<footer><div class="container center-block"><p class="text-muted text-center">Please cite: "Dragan M, Moghul MI, Priyam A &amp; Wurm Y <em>(in prep)</em> GeneValidator: identify problematic gene predictions"<br/>  Developed at <a href="http://yannick.poulet.org" target="_blank">Wurm Lab</a>, <a href="http://www.sbcs.qmul.ac.uk" target="_blank">QMUL</a> with funding by <a href="http://www.bbsrc.ac.uk/home/home.aspx" target="_blank">BBSRC</a> and <a href="https://www.google-melange.com/gsoc/homepage/google/gsoc2013" target="_blank">Google Summer of Code 2013</a><br/>This page was created by <a href="https://github.com/wurmlab/GeneValidator" target="_blank" >GeneValidator</a> v<%= GeneValidator::VERSION %></p></div></footer></body></html>