<!DOCTYPE html>
<html>
	<head>
		<title>GeneValidator: identify problems with gene predictions</title>
		<meta content="text/html; charset=utf-8" http-equiv="Content-Type">

       		<script type="text/javascript" src="js/jquery-1.10.2.min.js"></script> 
        	<script type="text/javascript" src="js/jquery.tablesorter.mod.js"></script> 
		<script type="text/javascript" src="js/jquery.raty.min.js"></script>       
  		<script type="text/javascript" src="js/bootstrap-tooltip.js"></script>
  		<script type="text/javascript" src="js/bootstrap-popover.js"></script>
	    	<script type="text/javascript" src="js/table-fixed-header.js"></script>          		
        	<script type="text/javascript" src="js/d3.v3.min.js"></script>  
        	<script type="text/javascript" src="js/jquery.masonry.min.js"></script>         	    
	        <script type="text/javascript" src="js/script.js"></script> 
        	<script type="text/javascript" src="js/plots.js"></script>  
		<script type="text/javascript" src="js/jquery.viewport.mini.js"></script>         

        	<link href="css/style.css" rel="stylesheet">
	        <link href="css/bootstrap-glyphicons.css" rel="stylesheet">        
        	<link href="css/bootstrap.css" rel="stylesheet">
	</head>
	<body>

	<div align="center">

		<div align="center" class="background_image" style="width:400px;">
    			<br><h1>Gene Validator <small>beta </small></h1>
			<h4><i> Identify Problems with Gene Predictions</i></h4><br>
		</div>



		<div style="position:absolute; top: 20px; right: 10px; width:340px;">

   	 		<div style="float:left; text-align: center; padding-right:10px; padding-left:10px;">
				<a href="doc/about.html">
					<i class="icon-info" style="font-size: 25px;"></i> <br> <b>About</b>
				</a>
			</div>


		 	<div style="float:left; text-align: center; padding-right:10px; padding-left:10px;">
				<a href="https://github.com/monicadragan/GeneValidator" target = "git">
					<i class="icon-github" style="font-size: 25px;"></i> <br> <b>Source code</b>
				</a>
			</div>

		 	<div style="float:left; text-align: center; padding-right:10px; padding-left:10px;">
				<a id="show_all_plots" onclick="show_all_plots(this);">
					<i class="icon-bar-chart" style="font-size: 25px;"></i> &nbsp;&nbsp;<br> <b>Show all plots </b>
				</a>
		 	</div>

		</div>
	</div>

	<br><br>

	<div class="container">
	<div id="report">
		<div id="report_1">
		</div>
	</div>

	<br><br>

    	<table id="sortable_table" class="table table-collapsed table-bordered table-striped table-condensed tablesorter">
        <thead>     		        
        	<tr id="header">
            	<th class="header">#</th>        	
          	<th class="header">Score</th>
		<th class="header nosort">Ranking</th>
                <th class="header">
                	Identifier
	                <a href="#" class="my_popover" rel="popover" 
	                	data-content="Query identifier as it apears in the input fasta file." 
	                	data-placement="top">
    	            		<i class="icon-question-sign"></i>
    	           	</a>                 	
                </th>            	
                <th class="header">
                	Description
	                <a href="#" class="my_popover" rel="popover" 
	                	data-content="Description of the query as it apears in the input fasta file." 
	                	data-placement="top">
    	            		<i class="icon-question-sign"></i>
    	           	</a>                 	
                </th>
                <th class="header">
                	No. Hits
	                <a href="#" class="my_popover" rel="popover" 
	                	data-content="Number of non-identical hits found by BLAST." 
	                	data-placement="top">
    	            		<i class="icon-question-sign"></i>
    	           	</a>                	
                </th>
                <% @validations.each do |item| %>                        	            
                	<th>
                		<b><%= item.header %></b>
	                	<a href="#" class="my_popover" rel="popover" 
	                	data-content="<%=item.description%>" 
	                	data-placement="top">
    	            		<i class="icon-question-sign"></i>
    	            	</a>
                	</th>
                <% end %>
                <td></td>				
    		</tr>
    	</thead>   	
    	
        <tbody>
	
