<!DOCTYPE html>
<html>
	<head>
		<title>Gene Validation Result</title>
		<meta content="text/html; charset=utf-8" http-equiv="Content-Type">

       		<script type="text/javascript" src="js/jquery-1.10.2.min.js"></script> 
        	<script type="text/javascript" src="js/jquery.tablesorter.mod.js"></script> 
		<script type="text/javascript" src="js/jquery.raty.min.js"></script>       
  		<script type="text/javascript" src="js/bootstrap-tooltip.js"></script>
  		<script type="text/javascript" src="js/bootstrap-popover.js"></script>
	    	<script type="text/javascript" src="js/table-fixed-header.js"></script>          		
        	<script type="text/javascript" src="js/d3.v3.min.js"></script>  	    
	        <script type="text/javascript" src="js/script.js"></script> 
        	<script type="text/javascript" src="js/plots.js"></script>         

        	<link href="css/style.css" rel="stylesheet">
	        <link href="css/bootstrap-glyphicons.css" rel="stylesheet">        
        	<link href="css/bootstrap.css" rel="stylesheet">
	</head>
	<body>
	<div class="container">

    				
	<div  colspan=<%=validations.length + 7%> class="background_image">
    				<h1>Gene Validator</h1>
    				<h3>identifies problems with gene predictions, based on similarities to genes in public databases</h3>
    				<br/></div>
    	<div> 
    				<h4> Validation results for <i><%= @filename %>:</i></h4>
       			<div align = "right">
    			<button class="btn btn-disabled" id=all_plots onclick="show_all_plots(this)">			 			 
    				<i class="icon-bar-chart"></i> &nbsp;&nbsp;&nbsp;<b>Show all plots</b>
    			</button></div><br>
    	</div> 

    	<table id="sortable_table" class="table table-collapsed table-bordered table-striped table-condensed tablesorter">
        <thead>     		        
        	<tr id="header">
            	<th>#</th>        	
          	<th class="sort">Score</th>
		<th>Ranking</th>
                <th class="sort">
                	Identifier
	                <a href="#" class="my_popover" rel="popover" 
	                	data-content="Query identifier as it apears in the input fasta file." 
	                	data-placement="top">
    	            		<i class="icon-question-sign"></i>
    	           	</a>                 	
                </th>            	
                <th class="sort">
                	Description
	                <a href="#" class="my_popover" rel="popover" 
	                	data-content="Description of the query as it apears in the input fasta file." 
	                	data-placement="top">
    	            		<i class="icon-question-sign"></i>
    	           	</a>                 	
                </th>
                <th class="sort">
                	No. Hits
	                <a href="#" class="my_popover" rel="popover" 
	                	data-content="Number of hits found by BLAST." 
	                	data-placement="top">
    	            		<i class="icon-question-sign"></i>
    	           	</a>                	
                </th>
                <% @validations.each do |item| %>                        	            
                	<th>
                		<b><%= item.header %></b>
	                	<a href="#" class="my_popover" rel="popover" 
	                	data-content="<%=item.description%>" 
	                	data-placement="top">
    	            		<i class="icon-question-sign"></i>
    	            	</a>
                	</th>
                <% end %>
                <td></td>				
    		</tr>
    	</thead>   	
    	
        <tbody>

