
/* MAIN STRUCTURE
__________________________*/

body {
  text-align: center;
  padding-top: 10px;
  background-color: #EEE;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none
}

.container {
  width: 99%;
}

/* MAIN HEADER
___________________________*/

.page-title { 
  margin: -65px auto;
  padding-left: 250px;
}

.subheading {
  margin-top: -5px;
  font-style: italic;
  font-weight: bold;
}

.logo {
  margin-top: -30px;
}

/* TABLE
___________________________*/

.table-responsive {
  overflow-x: auto;
}

.table td {
  vertical-align: middle !important;
  border-collapse: collapse;
  background-clip: padding-box;
}

.table th,
.table thead td {
  background-color: #E8E8E8;
  white-space: nowrap;
}

tr {
  height: 39px;
}

tr.expand-child {
  height:11px;
}

/* table striped backgrounds ___________*/

tbody > tr:nth-child(4n+1), tbody > tr:nth-child(4n+2) {
  background-color: #fff;
}

/* table sorter ___________*/

table.tablesorter thead th.header {
  background-image: url(../img/bg.gif);
  background-repeat: no-repeat;
  background-position: center right;
  padding-right:20px;
}

table.tablesorter thead th.headerSortUp {
  background-image: url(../img/asc.gif);
  padding-right:20px;
}

table.tablesorter thead th.headerSortDown {
  background-image: url(../img/desc.gif);
  padding-right:20px;
}

table.tablesorter thead tr .nosort {
  background-image: none;
  pointer-events: none;
}

/* table icons ___________*/

.table tbody td.success,
.table tbody td.danger,
.table tbody td.warning {
  /*padding required for the icon...*/
  padding-left:30px !important; 
  position:relative;
}

.table tbody td.success:before,
.table tbody td.danger:before,
.table tbody td.warning:before {
  font-family: FontAwesome;
  position: absolute;
  margin-left:-25px;
  font-size: 1.5em;
  margin-top: -0.25em;
}

.table tbody td.success:before {
  content: "\f058";
  color: #1AA882;
}

.table tbody td.danger:before {
  content: "\f057";
  color: #FC585A;
}

.table tbody td.warning:before{
  content: "\f06a";
  color: #FCB83F;
}

/* Buttons
___________________________*/

td.my-btn-success  {
  cursor: pointer !important;
  border-bottom: 4px solid #98bf21 !important;
}

td.danger.my-btn-danger {
  cursor: pointer !important;
  border-bottom: 4px solid #C48181 !important;
}

/* D3Js & Axis
___________________________*/
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  stroke: #000;
  opacity:0.7;
}

.line1 {
  fill: green;
  stroke: black;
  stroke-width: 1.5px;
  opacity:0.5;
}

svg:not(:root) {
  overflow: visible;
}

svg {
  margin:30px;
}
.expanded-child{
  display: block;
  text-align: center;
}

/* Ratings...
___________________________*/

.ratings {
  position: relative;
  vertical-align: middle;
  display: inline-block;
  color: #b1b1b1;
  overflow: hidden;
}

.full-stars{
  position: absolute;
  left: 0;
  top: 0;
  white-space: nowrap;
  overflow: hidden;
  color: #fde16d;
}

.empty-stars:before,
.full-stars:before {
  font-family: FontAwesome;
  content: "\f005\f005\f005\f005\f005";
  font-size: 14pt;
}

.empty-stars:before {
  -webkit-text-stroke: 1px #848484;
}

.full-stars:before {
  -webkit-text-stroke: 1px orange;
}

/* 
___________________________*/

.menu_icon {
  padding-left: 10px;
  font-weight: bold;
}

#toggle {
  text-align:center;
}

.tooltip-inner {
  white-space: pre-wrap;
  min-width: 100px;
}

#report {
  text-align: left;
}

/* Browser Specific 
___________________________*/

/* Border on Stars ________*/
/* Webkit-text-stroke is not supported on firefox or IE */
/* Firefox */
@-moz-document url-prefix() {
  .full-stars{
    color: #ECBE24;
  }
}
/* IE */
<!--[if IE]>
  .full-stars{
    color: #ECBE24;
  }
<![endif]-->