/* table sorter */

table.tablesorter thead tr .header {
	background-image: url(../img/bg.gif);
	background-repeat: no-repeat;
	background-position: center right !important;
    padding-right:20px !important;	
	cursor: pointer;
}

table.tablesorter thead tr .headerSortUp {
	background-image: url(../img/asc.gif);
    padding-right:20px !important;		
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(../img/desc.gif);
    padding-right:20px !important;		
}

.table tbody td.success{
  color: #000000 !important;
  vertical-align: middle !important;
  padding-left:30px !important;	
 
  background-repeat: no-repeat;  
  background-image: url(../img/yes-icon.png);
  background-position: left center; 
  background-color: #dff0d8;      
}

.table tbody td.danger{
  color: #000000 !important;
  vertical-align: middle !important;
  padding-left:30px !important;	
 
  background-repeat: no-repeat;  
  background-image: url(../img/no-icon.png);
  background-position: left center;   
  background-color: #FF6666;  
}

.table td {
  vertical-align: middle !important;  	
}

.table th {
  vertical-align: middle !important;
  white-space: nowrap !important;
  padding-right:20px !important;		
}

.background_image {
  background-image: url(../img/gene.png);
  background-repeat: no-repeat;
  background-position: left; 
}

.my-btn-success {
	cursor: pointer !important;
    border: outset;
    border-color:#98bf21;
}

.my-btn-danger {
	cursor: pointer !important;    
    border: outset;
    border-color:#C00000;
}

td.my-btn-success:hover {
  background-color: #51a351 !important;
}

td.my-btn-danger:hover {
  background-color: #da4f49 !important;
}

table {
  cell-spacing: 1;
}

table .header-fixed {
  position: fixed;
  top: 0px;
  /*left: 0;*/
  /*right: 0;*/
  z-index: 1020; /* 10 less than .navbar-fixed to prevent any overlap */
  border-bottom: 1px solid #d5d5d5;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}
thead {
  background-color: #ffffff;
}



