<html>
	<head>
		<title>Gene Validation Result</title>
        <script type="text/javascript" src="js/jquery-1.10.2.min.js"></script> 
        <script type="text/javascript" src="js/jquery.tablesorter/jquery.tablesorter.js"></script> 
        <script type="text/javascript" src="js/jquery.tablesorter.mod.js"></script>
        <script type="text/javascript" src="js/script.js"></script>
	</head>
	<body>
    	<table border="1" cellpadding="5" cellspacing="0" width = 1650 id="myTable" class="tablesorter">
        <thead>
        	<tr bgcolor = #E8E8E8>
        		<th><b>Click to sort!</b></th>
            	<th></th>
            	<th>No.</th>
                <th width=100 title="FASTA Header of the query">Description</th>
                <th title="Number of hits found by BLAST.">No. Hits</th>
                <% @validations.each do |v| %>                        	            
                <th><%= v.header %></th>
                <% end %>
				<th title="Overall evaluation based on all validation tests." > Overall Evaluation</th>
    		</tr>
    	</thead>

	</body>      
</html>	
